---
layout: base
title: Reading
icon: fa-book
extra_css:
  - count.css
  - pages.css
  - ratio.css
---

<h1>About my reading</h1>
<p>
My New Year's Resolution in 2015 was to read a book a week. I thought it was attenable based on my
reading habits prior to that point. However, without any real data I was not sure how difficult it
would be. I have used this blog to keep track of what I was reading, adding a little bit of metadata
to the posts to keep track of things like genre and how good or bad I thought the book was.
</p>

<p>The reading a book a week project was a success, but without that specific goal my reading habits
have fallen off a little bit. How do I know this? I continued to keep track of the data by posting
here every time I read a book. Recently I added the page counts for all of the books that I read to
the metadata that I collect. This allowed me to create some graphs that I found pretty interesting.
As part of the build process for this site, I will now be autogenerating these graphs so that this
page stays up to date with the details of my reading habits.
</p>

<p>
Each graph has an equal width bar for each month starting with January 2015 and ending at the month
in which I last posted about a book (usually the current month). The maximum value should be labeled
near the month in which that value was attained. The height of the bars is scaled linearly between
zero and the max.
</p>

<h2>Books read per month</h2>
{% include count.html %}
<br />

<h2>Pages read per month</h2>
{% include pages.html %}
<br />

<h2>Ratio of pages read to number of books</h2>
{% include ratio.html %}
<br />

<h2>Yearly summaries</h2>
{% include yearly.html %}
<br />

<p>
I have plans to add some more things to this page like some more graphs based on the genres and
ratings. Also, I realize these graphs are
not the greatest visually, but well they are more for me than anything and I haven't spent too much
time digging into making this css better.
</p>
